.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: .5rem;
  gap: .5rem
}

@media (max-width: 600px) {
  .flex {
    justify-content: center;
  }
}