.buscador {
  align-items: center;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 30px;
  display: flex;
  gap: 15px;
  height: 42px;
  justify-content: space-between;
  padding: 25px 20px;

  @media (max-width: 600px) {
    width: 100%;
  }

  input {
    background-color: #fff;
    border: none;
    font-size: 1.2rem;
    outline: none;
    width: 100%;
    &::placeholder {
      color: #4c4d5e;
    }
  }
}
