.botao-com-icone {
  text-decoration: none;
  background-color: var(--roxo-escuro);
  font-family: var(--familia-corpo);
  padding: 1rem 4rem 1rem 1rem;
  color: white;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  transition: .1s;
}

.botao-com-icone:hover {
  transform: scale(1.1);
}

.botao-com-icone--iconeSeta {
  background-image: url(../../icons/arrow-circle.svg);
  background-repeat: no-repeat;
  background-position: right 1rem center;
}

.botao-voltar {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: var(--roxo-escuro);
  color: white;
}



