body,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: var(--preto);
  text-decoration: none;
}

#header {
  height: 70px;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: .8rem;
}

#menu a {
  display: block;
  padding: .5rem;
}

#btn-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  #btn-mobile {
    display: block;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: var(--roxo-claro);
    height: 0px;
    z-index: 1000;
    transition: .6s;
    visibility: hidden;
    overflow: hidden;
  }

  #nav.active #menu {
    visibility: visible;
    height: calc(100vh - 70px);
    overflow: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 1px solid var(--cinza);
  }

  #btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  #hamburguer {
    display: block;
    border-top: 2px solid var(--preto);
    width: 20px;
  }

  #hamburguer::after,
  #hamburguer::before {
    content: ' ';
    display: block;
    width: 20px;
    height: 2px;
    background: var(--preto);
    margin-top: 5px;
    transition: .3s;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }

  #nav.active #hamburguer::before {
    transform: rotate(45deg);
  }

  #nav.active #hamburguer::after {
    transform: rotate(-45deg);
    position: relative;
    top: -7px;
  }

  #menu img {
    margin-left: 1rem;
  }
}


/* Search Input */

header input {
  background-image: url(../../icons/search.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: left 3% bottom 50%;
  padding: .5rem 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
}
